button {
    width: 15rem;
    background-color: red;
    padding: 1rem;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-family: 'Open sans';
    font-size: 1rem;
}

button:hover {
    background-color: white;
    transition: ease 0.5s;
    outline: 1px solid rgb(255, 53, 53);
    color: rgb(255, 53, 53);
}

button:active {
    background-color: white;
    transition: ease 0.5s;
    outline: 1px solid rgb(255, 53, 53);
    color: rgb(255, 53, 53);
}

@media screen and (max-width:768px) {
    button {
        width: 10rem;
        padding: 0.8rem;
        font-size: 0.8rem;
    }
}